<div class="record-new">
  <div class="record-left">
    <div class="record-calendar">カレンダー</div>
    <div class="record-graph">グラフ</div>
  </div>
  <div class="record-right">
    <div class="record-title" >in_takes</div>
    <div class="record-form">
      <div class="record-data" >日付</div>
      <div class="record-menu" >メニュー①</div>
      <div class="record-menu" >メニュー②</div>
      <div class="record-menu" >メニュー③</div>
      <div class="record-menu" >カロリー</div>
      <div class="record-input" >登録ボタン</div>
    </div>
  </div>
</div>