<%# --- 仮ヘッダー --- %>
<header>
</header>
<%# --- 仮ヘッダー --- %>

<%# --- 詳細情報 --- %>

<div class="page_setting">
  <div class="records_index_callendar">
    <%# カレンダーが入ります %>カレンダー
  </div>

  <div class="records_index_graph_parent">
    <div class="records_index_graph_cild">
      <div class="records_index_graph_title">
        <p>体重<p>
      </div>
      <div class="records_index_graph">
        <%# グラフが入る %>グラフ
      </div>
      <div class="actions">
        <%# link_to checks投稿ページへ %>体重を登録
      </div>
    </div>

    <div class="records_index_graph_cild">
      <div class="records_index_graph_title">
        <p>摂取カロリー<p>
      </div>
      <div class="records_index_graph">
        <%# グラフが入る %>グラフ
      </div>
      <div class="actions">
        <%# link_to in_take投稿ページへ %>摂取カロリーを登録
      </div>
    </div>

    <div class="records_index_graph_cild">
      <div class="records_index_graph_title">
        <p>消費カロリー<p>
      </div>
      <div class="records_index_graph">
        <%# グラフが入る %>グラフ
      </div>
      <div class="actions">
        <%# link_to out_take投稿ページへ %>消費カロリーを登録
      </div>
    </div>
  </div>
</div>

<%# --- 詳細情報 --- %>

<%# --- 仮フッター --- %>
<footer>
</footer>
<%# --- 仮フッター --- %>