<%# トップページ %>
<%# ヘッダーファイルの呼び出し %>
<%= render "shared/header" %>

<main class="top">
  <ul class="btns">
    <li><a href="#" class="btn-service processbtn">process</a></li>
    <li><a href="#" class="btn-service trainingbtn">training</a></li>
    <li><a href="#" class="btn-service tweetbtn">tweet</a></li>
    <li><a href="#" class="btn-service mealbtn">meal</a></li>
  </ul>
  <div class="h2 catch-copy">catch copy</div>
  <div class="concept">このアプリはみんなで（with）・共に（both）・健康に（health）をコンセプトに、<br>3つのthを合わせて「今よりも健康になって三倍くらい充実した人生を送りましょう」
  <br>と言う願いを込めて作られました。<br>あなたの健康のお役に立つことを願っております。</div>
  <ul class="btns">
    <li><a href="#" class="btn-service checksbtn">checks</a></li>
    <li><a href="#" class="btn-service userbtn">user</a></li>
    <li><a href="#" class="btn-service in_takesbtn">in_takes</a></li>
    <li><a href="#" class="btn-service out_takesbtn">out_takes</a></li>
  </ul>
</main>
<%# ヘッダーファイルの呼び出し %>
<%= render "shared/footer" %>
</main>
