<header>
</header>

<h1>Prosecces</h1>
<%# ここにユーザー名表示 %>
<div class="test">
userさん
</div>
<center>
<%# ここから投稿内容表示・仮置きのため一時的に設置 %>
      <div class="content">
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
      <div class="box_content">何月何日<br>タイトル<br>投稿内容</div>
  </div>
<button type="button" class="btn btn-primary btn-lg">戻る</button>
<button class="fixed_btn">新規投稿</button>
</center>
<footer>
</footer>
