<%# 登録内容(部分テンプレ)%>
<div class="checks_show_contents">
  <%= link_to "削除", "#", method: :delete, class:"btn btn-primary checks" %>
  <div class="checks_show_content_date">
    <%# @checks.created_at(時間のみ) %>xx時oo分
  </div>

  <div class="checks_show_content_image">
    <%# image_tag @checks.image %>
  </div>

  <div class="checks_show_content_weight">
    体重：<%# @checks.weight %>kg
  </div>
</div>