<%# --- 仮ヘッダー --- %>
<header>
</header>
<%# --- 仮ヘッダー --- %>

<%# --- 詳細情報 --- %>

<div class="page_setting">
  <div class="page_title">
    <h2><%# @checks.created_at(日付のみ) %>■月▲日の体重と体型</h2>
  </div>
  <%# 部分テンプレート呼び出し %>
</div>

<%# --- 詳細情報 --- %>

<%# --- 仮フッター --- %>
<footer>
</footer>
<%# --- 仮フッター --- %>