/* 仮ヘッダーと仮フッター */
/* header{
  background-color: brown;
  width: 100%;
  height: 120px;
}

footer{
  background-color: coral;
  width: 100%;
  height: 80px;
} */
/* ここまで */

/* ページの設定 */
.page_setting {
  background-color: #fff;
  padding-bottom: 120px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* ここまで */

/* ページのタイトル */
.page_title {
  height: 50px;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/* ここまで */

/* ページの詳細（部分テンプレ） */
.checks_show_contents {
  width: 350px;
  height: 500px;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
}
/* ここまで */

/* dayカラム表示用 */
.checks_show_content_date {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
/* ここまで */

/* 体型image */
.checks_show_content_image {
  margin: 10px 0;
  width: 100%;
  height: 75%;
  background-color: #fff;
}
/* ここまで */

/* 体重 */
.checks_show_content_weight {
  width: 100%;
  height: 50px;
  text-align: center;
}
/* ここまで */

/* 削除ボタン位置調整 */
.checks {
  position: absolute;
  right: 25px;
  height: 38px;
  width: 60px;
}
/*ここまで*/